*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    width: 500px;
    height: 500px;
    border-radius: 4%;
    background-color: rgb(20.90, 20.90, 20.90);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.front{
    width: 480px;
    height: 480px;
    border-radius: 4%;
    background-color:rgb(44, 44, 44);
    z-index: 10;
}

.back{
    background-color: red;
    width: 200px;
    height: 800px;
    position: absolute;
    animation: anima 5s linear infinite;
}

@keyframes anima{
    from{
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
}