*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

h1{
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    background-color: green;
}